.container {
    height: 100vh;
    max-height: 992px;
    margin: 0 auto;
    padding: 1.5rem 2.5rem;
    
    display: flex;
    flex-direction: column;
}

.container section {
    flex: 1;
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 6.25rem;
    align-content: center;
}
.leftContainer {

}
/* Responsive */
@media only screen and (max-width: 940px) {

    .container section {
      grid-template-columns: 1fr;
      gap: 6.25rem;
      margin-bottom: 2rem;
    }
}
  